/* FONTS */
@font-face {
    font-family: Inknut_Antiqua-Regular;
    src: url("");
}
    @font-face {
    font-family: "Gabriela";
    src: url("../FONT/Gabriela/Gabriela-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inria-Serif";
    src: url("../FONT/Inria_Serif/InriaSerif-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "DM-Sans-Regular";
    src: url("../FONT/DM_Sans/static/DMSans_36pt-Regular.ttf") format("truetype")
}
/* COLOR PALLETES */
:root {
    --base-background: #FFFFFF;
    --blue: #00537A;
    --dark-blue: #013C58;
    --darker-blue: #0B1E33;

    --h1: 3.815rem;
    --h2: 2.488rem;
    --h3: 2.074rem;
    --h5: 1.563rem;
    --p: 1.563rem;

}